.detail .benefit i 
{
    margin-right : 7px;
    color : blue;
}
.detail .benefit li:not(:first-child)
{
    margin-top : 3px;
}
.border-space 
{
    width : 1px;
    height : 15px;
    background-color: #ccc;
    margin-top : 3px;
    margin-right : 7px;
}
.detail .shipper li 
{
    width : 100%;
}

@media (max-width : 680px) {
    .introduce-shop-official
    {
        display: flex;
        flex-direction: column;
    }
}
.payment .click_number  button:nth-child(1)
{
    border : 1px solid #ccc;
}
.payment .click_number  button
{
    border : 1px solid #777
}

.see_more-cart 
{
    position: relative;
}
.pagination-controls
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
}

.hover_quantity-cart:hover
{
    cursor : default;
    background-color: #ccc;
}