@import './styleguide.css';
.product-UIHUT {
    align-items: flex-start;
    display: inline-flex;
    gap: 30px;
    position: relative;
  }
  
  .product-UIHUT .image {
    height: 507px;
    position: relative;
    width: 551px;
  }
  
  .product-UIHUT .info-UIHUT {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 60px;
    position: relative;
  }
  
  .product-UIHUT .div {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 30px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper {
    font-family: "Gordita", Helvetica;
    font-size: var(--medium-26-font-size);
    font-style: var(--medium-26-font-style);
    font-weight: var(--medium-26-font-weight);
    letter-spacing: var(--medium-26-letter-spacing);
    line-height: var(--medium-26-line-height);
    margin-top: -1px;
    position: relative;
    width: 639px;
  }
  
  .product-UIHUT .info {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 60px;
    position: relative;
  }
  
  .product-UIHUT .reviews-UIHUT {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
  }
  
  .product-UIHUT .iconly-light-star-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .product-UIHUT .instance-node {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
  }
  
  .product-UIHUT .text-wrapper-2 {
    font-family: var(--medium-18-font-family);
    font-size: var(--medium-18-font-size);
    font-style: var(--medium-18-font-style);
    font-weight: var(--medium-18-font-weight);
    letter-spacing: var(--medium-18-letter-spacing);
    line-height: var(--medium-18-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .div-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper-3 {
    font-family: var(--medium-22-font-family);
    font-size: var(--medium-22-font-size);
    font-style: var(--medium-22-font-style);
    font-weight: var(--medium-22-font-weight);
    letter-spacing: var(--medium-22-letter-spacing);
    line-height: var(--medium-22-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .weight {
    align-items: flex-start;
    border: 1px solid;
    border-radius: 6px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 5px 14px;
    position: relative;
    width: 261px;
  }
  
  .product-UIHUT .data-UIHUT {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 14px;
    position: relative;
  }
  
  .product-UIHUT .gram {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 54px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper-4 {
    font-family: var(--medium-15-font-family);
    font-size: var(--medium-15-font-size);
    font-style: var(--medium-15-font-style);
    font-weight: var(--medium-15-font-weight);
    letter-spacing: var(--medium-15-letter-spacing);
    line-height: var(--medium-15-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .class {
    /* background-image: url(./arrow-down-2.svg) !important; */
    position: relative !important;
  }
  
  .product-UIHUT .class-2 {
    background-image: unset !important;
    background-size: unset !important;
    position: relative !important;
  }
  
  .product-UIHUT .rectangle {
    height: 35px;
    position: relative;
    transform: rotate(180deg);
    width: 1px;
  }
  
  .product-UIHUT .gram-2 {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 17px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper-5 {
    font-family: var(--medium-15-font-family);
    font-size: var(--medium-15-font-size);
    font-style: var(--medium-15-font-style);
    font-weight: var(--medium-15-font-weight);
    letter-spacing: var(--medium-15-letter-spacing);
    line-height: var(--medium-15-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .class-3 {
    /* background-image: url(./image.svg) !important; */
    position: relative !important;
  }
  
  .product-UIHUT .div-3 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 20px;
    position: relative;
  }
  
  .product-UIHUT .small-UIHUT {
    align-items: flex-start;
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 6px 12px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper-6 {
    color: var(--secondary-colorsecondary-2);
    font-family: var(--medium-15-font-family);
    font-size: var(--medium-15-font-size);
    font-style: var(--medium-15-font-style);
    font-weight: var(--medium-15-font-weight);
    letter-spacing: var(--medium-15-letter-spacing);
    line-height: var(--medium-15-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .div-wrapper {
    align-items: flex-start;
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 6px 12px;
    position: relative;
  }
  
  .product-UIHUT .small-UIHUT-2 {
    align-items: flex-start;
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 6px 12px;
    position: relative;
  }
  
  .product-UIHUT .element {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 27px;
    position: relative;
  }
  
  .product-UIHUT .compare {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper-7 {
    font-family: var(--medium-18-font-family);
    font-size: var(--medium-18-font-size);
    font-style: var(--medium-18-font-style);
    font-weight: var(--medium-18-font-weight);
    letter-spacing: var(--medium-18-letter-spacing);
    line-height: var(--medium-18-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .delivery {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper-8 {
    font-family: var(--medium-18-font-family);
    font-size: var(--medium-18-font-size);
    font-style: var(--medium-18-font-style);
    font-weight: var(--medium-18-font-weight);
    letter-spacing: var(--medium-18-letter-spacing);
    line-height: var(--medium-18-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .p {
    font-family: var(--regular-14-font-family);
    font-size: var(--regular-14-font-size);
    font-style: var(--regular-14-font-style);
    font-weight: var(--regular-14-font-weight);
    letter-spacing: var(--regular-14-letter-spacing);
    line-height: var(--regular-14-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .text-wrapper-9 {
    font-family: var(--medium-18-font-family);
    font-size: var(--medium-18-font-size);
    font-style: var(--medium-18-font-style);
    font-weight: var(--medium-18-font-weight);
    letter-spacing: var(--medium-18-letter-spacing);
    line-height: var(--medium-18-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .text-wrapper-10 {
    font-family: var(--regular-14-font-family);
    font-size: var(--regular-14-font-size);
    font-style: var(--regular-14-font-style);
    font-weight: var(--regular-14-font-weight);
    letter-spacing: var(--regular-14-letter-spacing);
    line-height: var(--regular-14-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .add-to-cart {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--dark-3);
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    position: relative;
  }
  
  .product-UIHUT .frame {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper-11 {
    font-family: var(--medium-16-font-family);
    font-size: var(--medium-16-font-size);
    font-style: var(--medium-16-font-style);
    font-weight: var(--medium-16-font-weight);
    letter-spacing: var(--medium-16-letter-spacing);
    line-height: var(--medium-16-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .frame-2 {
    align-items: flex-start;
    background-color: var(--greengreen-20);
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    padding: 2px 8px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper-12 {
    color: var(--greengreen);
    font-family: var(--medium-14-font-family);
    font-size: var(--medium-14-font-size);
    font-style: var(--medium-14-font-style);
    font-weight: var(--medium-14-font-weight);
    height: 17px;
    letter-spacing: var(--medium-14-letter-spacing);
    line-height: var(--medium-14-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 30px;
  }
  
  .product-UIHUT .text-wrapper-13 {
    font-family: var(--medium-26-font-family);
    font-size: var(--medium-26-font-size);
    font-style: var(--medium-26-font-style);
    font-weight: var(--medium-26-font-weight);
    letter-spacing: var(--medium-26-letter-spacing);
    line-height: var(--medium-26-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .action {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 19px;
    position: relative;
  }
  
  .product-UIHUT .button {
    all: unset;
    align-items: center;
    background-color: var(--yellowyellow);
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px 55px;
    position: relative;
  }
  
  .product-UIHUT .text-wrapper-14 {
    font-family: var(--medium-18-font-family);
    font-size: var(--medium-18-font-size);
    font-style: var(--medium-18-font-style);
    font-weight: var(--medium-18-font-weight);
    letter-spacing: var(--medium-18-letter-spacing);
    line-height: var(--medium-18-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .product-UIHUT .love {
    align-items: center;
    border: 1px solid;
    border-color: var(--secondary-colorsecondary-3);
    border-radius: 6px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 11px;
    position: relative;
  }
  
  .product-UIHUT .off {
    background-color: #f6f6f6;
  }
  
  .product-UIHUT .on {
    background-color: var(--dark-1);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-2 {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-2 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-3 {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-3 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .weight {
    border-color: var(--secondary-colorsecondary-3);
  }
  
  .product-UIHUT .info-UIHUT.on .weight {
    border-color: var(--secondary-colorsecondary-2);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-4 {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-4 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .rectangle {
    background-color: var(--secondary-colorsecondary-3);
  }
  
  .product-UIHUT .info-UIHUT.on .rectangle {
    background-color: var(--secondary-colorsecondary-2);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-5 {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-5 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .small-UIHUT {
    background-color: var(--secondary-colorsecondary-4);
  }
  
  .product-UIHUT .info-UIHUT.on .small-UIHUT {
    background-color: var(--dark-2);
  }
  
  .product-UIHUT .info-UIHUT.off .div-wrapper {
    background-color: var(--secondary-colorsecondary-4);
  }
  
  .product-UIHUT .info-UIHUT.on .div-wrapper {
    background-color: var(--dark-2);
  }
  
  .product-UIHUT .info-UIHUT.off .small-UIHUT-2 {
    background-color: var(--secondary-colorsecondary-4);
  }
  
  .product-UIHUT .info-UIHUT.on .small-UIHUT-2 {
    background-color: var(--dark-2);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-7 {
    color: #000000;
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-7 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-8 {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-8 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .p {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .p {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-9 {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-9 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-10 {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-10 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-11 {
    color: #000000;
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-11 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-13 {
    color: #000000;
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-13 {
    color: var(--background-3);
  }
  
  .product-UIHUT .info-UIHUT.off .text-wrapper-14 {
    color: var(--secondary-colorsecondary-1);
  }
  
  .product-UIHUT .info-UIHUT.on .text-wrapper-14 {
    color: var(--background-3);
  }




  